*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

// -- Mixin không tham số
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

// = Mixin có tham số
// @mixin size($width, $height) {
//     width: $width;
//     height: $height;
// }

// ? Mixin có tham số mặc đinh
// @mixin size($width, $height: 200px) {
//     width: $width;
//     height: $height;
// }

// *  Dùng tham số trước đó làm mặc định
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin round($tl, $tr: $tl, $br: $tl, $bl: $tl) {
    border-radius: $tl $tr $br $bl;
    @include move(100px);
}

// = Mixin lồng mixin
@mixin move($x, $y: null) {
    translate: $x $y;
}

.center {
    @include flexCenter();
    @include size(200px, 300px);
    // *  Dùng tham số trước đó làm mặc định
    // @include round(20px, 50px, 20px, 50px);
    // todo   Truyền đối số theo tên
    @include round(10px, $bl: 60px);

    background: orange;

    font: {
        size: 30px;
        weight: 600;
    }
}

.box {
    @include flexCenter();
    @include size(150px);
    margin-top: 30px;
    width: 150px;
    height: 150px;
    background: olivedrab;
    font-size: 24px;
    font-weight: 600;
}
