*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

@mixin grid($column, $spacing) {
    --column: #{$column};
    --spacing: #{$spacing};
    flex-wrap: wrap;
    display: flex;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));

    > * {
        width: calc(100% / var(--column) - var(--spacing));

        margin-left: var(--spacing);
    }
}

@mixin screen($device) {
    @if $device == tablet {
        @media (max-width: 991.98px) {
            @content;
        }
    }

    @if $device == mobile {
        @media (max-width: 575.98px) {
            @content;
        }
    }
}

.list {
    @include grid(4, 30px);

    // Tablet
    @media (max-width: 991.98px) {
        --column: 2;
        --spacing: 20px;
    }

    // Mobile
    @media (max-width: 575.98px) {
        --column: 1;
        --spacing: 10px;
    }

    @include screen(tablet) {
        --column: 2;
        --spacing: 20px;
    }

    @include screen(mobile) {
        --column: 1;
        --spacing: 10px;
    }

    .item {
        background: olivedrab;
        font: {
            size: 20px;
            weight: 600;
        }
    }
}
